@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lora', serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 125%;
}

#app {
  height: 100%;
}

/** Buttons **/

.btn--reset {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

/** Slot picker **/

.slot-picker {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
} 

.slot-picker--outer {
  overflow: hidden;
}

.slot-picker--inner {
  position: relative;
  transition: top .2s;

  a {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: center;
    padding-left: .25em;
    padding-right: .25em;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s;

    &:hover {
      opacity: 1 !important;
    }
  }
}

.slot-picker--input-outline {
  border: solid 2px rgba(0,0,0,.05);
  height: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.slot-picker--btn {
  appearance: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: inherit;
  margin-top: .25em;
  margin-bottom: .25em;
  padding: 0;
  transition: color .2s;

  &:disabled {
    color: #ddd;

    &:hover {
      color: #ddd;
    }
  }

  &:hover {
    color: #333;
  }

  svg {
    display: block;
    height: 1em;
    width: 1em;
  }
}

/** Layout utility classes **/

.flex { display: flex; }

.flex-direction--row { flex-direction: row; }
.flex-direction--column { flex-direction: column; }

.align-items--start { align-items: flex-start; }
.align-items--center { align-items: center; }
.align-items--end { align-items: flex-end; }
.align-items--stretch { align-items: stretch; }

.justify-content--start { justify-content: flex-start; }
.justify-content--center { justify-content: center; }
.justify-content--end { justify-content: flex-end; }
.justify-content--between { justify-content: space-between; }

.height--100pct { height: 100%; }

.text-align--left { text-align: left; }
.text-align--center { text-align: center; }
.text-align--right { text-align: right; }

.margin-l--xs { margin-left: .25em; }
.margin-l--s { margin-left: .5em; }
.margin-l--m { margin-left: 1em; }
.margin-l--l { margin-left: 2em; }

.margin-r--xs { margin-right: .25em; }
.margin-r--s { margin-right: .5em; }
.margin-r--m { margin-right: 1em; }
.margin-r--l { margin-right: 2em; }

/** Typography utility classes **/

.font-size--s { font-size: .875em; }
.font-size--m { font-size: 1em; }
.font-size--l { font-size: 1.5em; }
.font-size--xl { font-size: 2em; }
