@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color-1: #f9f9f9;
  --bg-color-2: #fff;
  --text-color: #333;
  --border-color: rgba(0,0,0,.05);
}

html,
body {
  font-family: 'Lora', serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 125%;
}

#app {
  height: 100%;
}

/** Buttons **/

.btn--reset {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

/** Themes **/

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.themed-container {
  align-items: center;
  animation: gradient 40s ease infinite;
  background-image: linear-gradient(20deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
  background-size: 200%;
  color: var(--text-color);
  display: flex;
  font-size: 2em;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: background-color .3s, color .3s;
}

.theme--options {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: .5em;
  position: absolute;
  right: 0;
}

.theme--option {
  appearance: none;
  background: linear-gradient(20deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
  background-position: center;
  background-size: 130% 130%;
  border: solid 2px var(--border-color);
  border-radius: 50%;
  color: inherit;
  display: block;
  font-size: inherit;
  height: .5em;
  margin-left: .125em;
  margin-right: .125em;
  transition: transform .2s;
  width: .5em;

  &:hover {
    transform: scale(1.125);
  }
}

.theme--purple {
  --bg-color-1: #21D4FD;
  --bg-color-2: #B721FF;
  --text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.2);
}

.theme--default {
  --bg-color-1: #f9f9f9;
  --bg-color-2: #fff;
  --text-color: #333;
  --border-color: rgba(0,0,0,.05);
}

/** Slot picker **/

.slot-picker {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: width .2s;
  overflow: visible;
} 

.slot-picker--outer {
  overflow: hidden;
}

.slot-picker--inner {
  position: relative;
  transition: top .2s;

  a {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}

.slot-picker--attribute {
  cursor: pointer;
  padding-left: .25em;
  padding-right: .25em;
  transition: opacity .2s;
  white-space: nowrap;
  
  &:hover {
    opacity: 1 !important;
  }
}

.slot-picker--input-outline {
  border: solid 2px var(--border-color);
  height: 1.5em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: border-color .3s;
  width: 100%;
}

.slot-picker--btn {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  margin-top: .25em;
  margin-bottom: .25em;
  opacity: .5;
  padding: 0;
  transition: opacity .2s;

  &:disabled {
    opacity: .2;

    &:hover {
      opacity: .2;
    }
  }

  &:hover {
    opacity: 1;
  }

  svg {
    display: block;
    height: 1em;
    width: 1em;
  }
}

/** Layout utility classes **/

.flex { display: flex; }

.flex-direction--row { flex-direction: row; }
.flex-direction--column { flex-direction: column; }

.align-items--start { align-items: flex-start; }
.align-items--center { align-items: center; }
.align-items--end { align-items: flex-end; }
.align-items--stretch { align-items: stretch; }

.justify-content--start { justify-content: flex-start; }
.justify-content--center { justify-content: center; }
.justify-content--end { justify-content: flex-end; }
.justify-content--between { justify-content: space-between; }

.height--100pct { height: 100%; }

.text-align--left { text-align: left; }
.text-align--center { text-align: center; }
.text-align--right { text-align: right; }

.margin-l--xs { margin-left: .25em; }
.margin-l--s { margin-left: .5em; }
.margin-l--m { margin-left: 1em; }
.margin-l--l { margin-left: 2em; }

.margin-r--xs { margin-right: .25em; }
.margin-r--s { margin-right: .5em; }
.margin-r--m { margin-right: 1em; }
.margin-r--l { margin-right: 2em; }

/** Typography utility classes **/

.font-size--s { font-size: .875em; }
.font-size--m { font-size: 1em; }
.font-size--l { font-size: 1.5em; }
.font-size--xl { font-size: 2em; }
