@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lora', serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 125%;
}
